In [1]:
import os
import csv
import pandas as pd

In [2]:
Hi_measurements = "Resources/hawaii_measurements.csv"
Hi_stations = "Resources/hawaii_stations.csv"

In [3]:
Hi_measurements_df = pd.read_csv("Resources/hawaii_measurements.csv", encoding = "utf-8")
Hi_measurements_df.head()

   Unnamed: 0      station        date  prcp  tobs
0           0  USC00519397  2010-01-01  0.08    65
1           1  USC00519397  2010-01-02  0.00    63
2           2  USC00519397  2010-01-03  0.00    74
3           3  USC00519397  2010-01-04  0.00    76
4           5  USC00519397  2010-01-07  0.06    70

In [4]:
Hi_stations_df = pd.read_csv("Resources/hawaii_stations.csv", encoding = "utf-8")
Hi_stations_df

,Unnamed: 0,station,name,latitude,longitude,elevation
0,0,USC00519397,"WAIKIKI 717.2, HI US",21.27160,-157.81680,3.0
1,1,USC00513117,"KANEOHE 838.1, HI US",21.42340,-157.80150,14.6
2,2,USC00514830,"KUALOA RANCH HEADQUARTERS 886.9, HI US",21.52130,-157.83740,7.0
3,3,USC00517948,"PEARL CITY, HI US",21.39340,-157.97510,11.9
4,4,USC00518838,"UPPER WAHIAWA 874.3, HI US",21.49920,-158.01110,306.6
5,5,USC00519523,"WAIMANALO EXPERIMENTAL FARM, HI US",21.33556,-157.71139,19.5
6,6,USC00519281,"WAIHEE 837.5, HI US",21.45167,-157.84889,32.9
7,7,USC00511918,"HONOLULU OBSERVATORY 702.2, HI US",21.31520,-157.99920,0.9
8,8,USC00516128,"MANOA LYON ARBO 785.2, HI US",21.33310,-157.80250,152.4

In [5]:
Hi_measurements_df.count()

Unnamed: 0    18103
station       18103
date          18103
prcp          18103
tobs          18103
dtype: int64

In [6]:
Hi_stations_df.count()

Unnamed: 0    9
station       9
name          9
latitude      9
longitude     9
elevation     9
dtype: int64

In [7]:
Hi_measurements_df.dtypes

Unnamed: 0      int64
station        object
date           object
prcp          float64
tobs            int64
dtype: object

In [8]:
Hi_stations_df.dtypes

Unnamed: 0      int64
station        object
name           object
latitude      float64
longitude     float64
elevation     float64
dtype: object

In [9]:
Hi_measurements_df.isnull().values.any()

False

In [10]:
Hi_stations_df.isnull().values.any()

False

In [11]:
Hi_measurementscln_df= Hi_measurements_df.dropna(how='any')

In [12]:
Hi_measurementscln_df.count()

Unnamed: 0    18103
station       18103
date          18103
prcp          18103
tobs          18103
dtype: int64

In [13]:
clean_measurements_df=Hi_measurementscln_df

In [14]:
clean_measurements_df.to_csv("Resources/clean_hawaii_measurements.csv")

In [15]:
clean_stations_df=Hi_stations_df

In [16]:
clean_stations_df.to_csv("Resources/clean_hawaii_stations.csv")